.image-fon1 {
    background-image: url(../../../assets/img/airpods/airpod1.png);
    
}

.airpod-bg1 {
    background-size: cover;
}

.airpod-bg2 {
    background-size: cover;
}

.airpod-bg3 {
    background-size: cover;
}